*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 50px;    
}
#header{
    display: flex;
    justify-content: left;
    width: 600px;
    overflow: auto;
    scrollbar-width: ;
    margin: auto;

}
#header a{
    text-decoration: none;
    padding: 10px;
    color: rgb(231, 239, 255);
    font-size:15px; ;
}
.menu{
    padding: 10px;
    position: fixed;    
    left: 0%;
    top: 0%;
    background-color: black;
}

i{
    color: white;
    
}